<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <add key="rExePath" value="C:\Program Files\R\R-3.5.2"/>
    <add key="contingencyTableFilePath" value="datasets\delinquents_take_5a.txt"/>
    <add key="rBaseAnalyticsScript" value="dataset_ca_base_analytics.R"/>
    <add key="rBasePredictionScript" value="dataset_ca_base_prediction.R"/>
    <add key="rInstallPackagesScript" value="load_packages.R"/>
  </appSettings>
</configuration>
